{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- The "." represents the dynamic data that we wanna pass later -->
    <title>{{template "title" .}} - LucasViniBox</title>

    <!-- Link to the CSS and favicon from "ui/static" -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
    <header>
        <h1><a href="/">LucasViniBox</a></h1>

        <div>
            <a href="https://github.com/isaacszf/LucasViniBox">Github</a>
            <a href="/">About</a>
        </div>
    </header>

    <!-- Invoking the navigation component template -->
    {{template "nav" .}}

    <main>
        {{template "main" .}}
    </main>

    <footer>Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}</footer>
</body>

</html>
{{end}}